DDona.WCFTest.App/Service References/Venda/DDona11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DDona.WCFTest.DTO.Venda" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DDona.WCFTest.DTO.Venda" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVendaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VendaDTO" nillable="true" type="tns:VendaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendaDTO" nillable="true" type="tns:ArrayOfVendaDTO" />
  <xs:complexType name="VendaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Desconto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTotal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VendaDTO" nillable="true" type="tns:VendaDTO" />
</xs:schema>